@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
  background: rgb(0, 255, 183);
  text-align: center;
}

h1 {
  font-size: 50px;
  color: rgb(229, 255, 0);
}

p {
  font-size: 30px;
  font-family: 'Indie Flower';
}

img {
  width: 30%;
}