@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
  background: rgb(255, 0, 157);
  text-align: center;
}

h1 {
  font-size: 50px;
  color: rgba(145, 0, 203, 0.963);
}

p {
  font-size: 30px;
  font-family: 'Indie Flower';
}

img {
  width: 30%;
}