@import url('https://imageio.forbes.com/specials-images/dam/imageserve/877330410/0x0.jpg?format=jpg&height=600&width=1200&fit=bounds');

body {
  background: hsla(229, 90%, 55%, 0.302);
  text-align: center;
}

h1 {
  font-size: 50px;
  color: #08168f;
}

p {
  font-size: 30px;
  font-family: 'Indie Flower';
}

img {
  width: 30%;
}