body {
  font-family: arial;
  background-color: rgb(204, 219, 226);
  color: rgb(36, 36, 39);
}

img {
  width: 50%;
  border: 10px double white;
}

h1 {
  font-family: 'Franklin Gothic Medium';
}

button {
  background-color: rgb(142, 142, 142);
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
}

#WineResult,
#MatteResult,
#FadeResult,
#SmokeResult,
#Stonecoldresult {
  display: none;
}