body {
  font-family: arial;
  background-color: rgb(75, 89, 42);
  color: rgb(255, 0, 174);
}

img {
  width: 50%;
  border: 10px double white;
}

h1 {
  text-shadow: 3px 3px rgb(0, 255, 72);
  font-family: 'Franklin Gothic Medium';
}

button {
  background-color: rgb(141, 120, 74);
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
}

#milkresult,
#frenchfryresult,
#icecreamresult,
#saladresult,
#frostedflakesresult {
  display: none;
}