body {
  font-family: arial;
  background-color: rgb(209, 231, 241);
  color: rgb(0, 0, 0);
}

img {
  width: 50%;
  border: 10px double rgb(0, 0, 0);
}

h1 {
  text-shadow: 3px 3px rgb(3, 20, 36);
  font-family: 'Franklin Gothic Medium';
}

button {
  background-color: rgb(207, 228, 248);
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
}

#FishResult,
#PlanktonResult,
#HumanResult,
#SpiderResult,
#NudibranchResult {
  display: none;
}