body { 
    font-family : 'Arial', sans-serif;
    background-color : #111;
    color : #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color : #222;
    padding: 20px;
    text-align: center;
}

nav a {
    margin : 0 15px;
    color : #84e6f8;
    text-decoration : none;
    font-size : bold;
}

nav a :hover {
    color : #fff;
}

.container {
    padding : 30px;
}

.product, .employee {
    background-color : #1c1c1c;
    border-radius : 10px;
    padding : 20px;
    width : 30%;
    text-align : center;
}

.product img, .employee img {
    width : 100%;
    border-radius : 8px;
}