body {
  font-family: 'Franklin Gothic Medium';
  background-color: #b3d8fd; /* pastel blue */
  color: #112244;            /* dark navy blue */
}

h1 {
  text-shadow: 3px 3px #7ea7d8;
  font-family: 'Franklin Gothic Medium';
}

button {
  background-color: #7ea7d8;
  color: #112244;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

#RepublicanResult, #DemocratResult, #CentristResult {
  display: none;
}

#quiz-result {
  color: #112244; /* dark navy blue */
  font-weight: bold;
  margin-top: 2em;
  display: none;
}

img {
  max-width: 400px;
  width: 100%;
  height: auto;
  display: block;
  margin: 1em auto;
  border: 10px double #7ea7d8;
}