body#index {
    color: rgb(0, 0, 0);
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    background-image: url("https://usadogshop.com/skin/light_responsive/images/custom/dog/store-photo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body#Cham {
    color: rgb(0, 0, 0);
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    background-image: url("https://media.istockphoto.com/id/177310390/photo/mighty-tree-with-green-leaves.jpg?s=612x612&w=0&k=20&c=9LJS5c54YBBPGM0ZoynZN84TVs4vIhW5EX0m-i8t7J4=");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body#Tib {
    color: rgb(0, 0, 0);
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    background-image: url("https://images.ctfassets.net/7mmwp5vb96tc/31419/5ee6e5454a88d4ddac8cbdc0b0e2b098/7f-husky-sledge-adventure_03_ggg012.jpg?q=40&w=3840&fm=webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body#vcp {
    color: rgb(0, 0, 0);
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    background-image: url("https://images.takeshape.io/86ce9525-f5f2-4e97-81ba-54e8ce933da7/dev/4d50abdc-4cb9-478d-9646-6481e1b83c6f/337%20Mississippi%20lowland%20forests%20-%20JamesDeMers.jpg?auto=compress%2Cformat&h=630&w=1200");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
